<div id="wrapper">
  <!-- Mobile: Stack vertically, Desktop: Horizontal layout -->
  <div class="flex flex-col lg:flex-row gap-4 lg:items-start">
    
    <!-- Search and Create Section -->
    <div class="flex flex-col sm:flex-row gap-4 flex-grow items-stretch">
      <!-- Search -->
      <mat-form-field
        class="search-form-field flex-grow"
        appearance="outline"
        color="accent">
        <mat-label>
          {{ 'contract_agreement_page.search_def' | translate }}
        </mat-label>
        <input matInput [formControl]="searchText" />
        <mat-icon matPrefix>search</mat-icon>
        <button
          *ngIf="searchText.value"
          mat-icon-button
          matSuffix
          (click)="searchText.setValue('')">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- Create Button -->
      <button
        id="create-button"
        color="primary"
        mat-raised-button
        class="!min-h-[56px] sm:!min-h-[44px] !px-6 whitespace-nowrap"
        (click)="onCreate()">
        <div class="flex justify-center items-center h-full gap-2">
          <mat-icon>add_circle_outline</mat-icon>
          <span class="hidden sm:inline">{{ 'contract_agreement_page.create_def' | translate }}</span>
          <span class="sm:hidden">{{ 'general.create' | translate }}</span>
        </div>
      </button>
    </div>

    <!-- Paginator - Mobile: Full width, Desktop: Aligned right -->
    <div class="w-full lg:w-auto flex justify-center lg:justify-end">
      <mat-paginator
        *ngIf="contractDefinitionList.isReady"
        [hidePageSize]="true"
        [disabled]="true"
        [pageSize]="contractDefinitionList.data.contractDefinitionCards.length"
        [length]="contractDefinitionList.data.numTotalContractDefinitions"
        class="!p-0">
      </mat-paginator>
    </div>
  </div>

  <div class="flex flex-row justify-center">
    <loading-state
      *ngIf="contractDefinitionList.isLoading"
      class="min-h-[35rem]"></loading-state>
    <error-state
      *ngIf="contractDefinitionList.isError"
      class="min-h-[35rem]"
      [error]="contractDefinitionList.errorOrUndefined"></error-state>
    <empty-state
      *ngIf="
        contractDefinitionList.isReady &&
        (!contractDefinitionList.data.numTotalContractDefinitions ||
          !contractDefinitionList.data.contractDefinitionCards.length)
      "
      class="min-h-[35rem]"
      [emptyMessage]="
        'contract_agreement_page.con_def' | translate
      "></empty-state>
  </div>
  <contract-definition-cards
    *ngIf="
      contractDefinitionList.isReady &&
      !!contractDefinitionList.data.contractDefinitionCards.length
    "
    [contractDefinitionCards]="
      contractDefinitionList.data.contractDefinitionCards
    "
    [deleteBusy]="deleteBusy"
    (deleteDone)="refresh()"></contract-definition-cards>
</div>
