<div id="wrapper">
  <!-- Page Title -->
  <h2>{{ 'asset_list_page.title' | translate }}</h2>
  
  <!-- Search and Create Card -->
  <mat-card class="search-create-card">
    <!-- Search and Create Section -->
    <div class="search-create-container">
      <!-- Search Bar (80%) -->
      <mat-form-field
        class="search-form-field"
        color="accent">
        <mat-label>{{ 'asset_list_page.search_assets' | translate }}</mat-label>
        <input matInput [(ngModel)]="searchText" (input)="onSearch()" />
        <mat-icon matPrefix>search</mat-icon>
        <button
          *ngIf="searchText"
          mat-icon-button
          matSuffix
          (click)="searchText = ''; onSearch()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <!-- Create Button (20%) -->
      <button
        id="create-button"
        color="primary"
        mat-raised-button
        class="create-asset-button"
        (click)="onCreate()">
        <mat-icon>add_circle_outline</mat-icon>
        <span class="button-text">{{ 'asset_list_page.create_asset' | translate }}</span>
        <span class="button-text-mobile">{{ 'general.create' | translate }}</span>
      </button>
    </div>
  </mat-card>

  <!-- Results Section -->
  <div class="results-section">
    <!-- Paginator -->
    <div class="pagination-container" *ngIf="assetList.isReady && assetList.data.numTotalAssets">
      <mat-paginator
        [hidePageSize]="true"
        [disabled]="true"
        [pageSize]="assetList.data.numTotalAssets"
        [length]="assetList.data.filteredAssets.length"
        class="paginator-styled">
      </mat-paginator>
    </div>

    <div class="content-container">
      <loading-state
        *ngIf="assetList.isLoading"
        class="state-container"></loading-state>
      <error-state
        *ngIf="assetList.isError"
        class="state-container"
        [error]="assetList.errorOrUndefined"></error-state>
      <empty-state
        *ngIf="
          assetList.isReady &&
          (!assetList.data.numTotalAssets ||
            !assetList.data.filteredAssets.length)
        "
        class="state-container"
        [emptyMessage]="'asset_list_page.no_assets' | translate"></empty-state>

      <div
        *ngIf="assetList.isReady && !!assetList.data.numTotalAssets"
        class="assets-grid">
        <asset-cards
          [assets]="assetList.data.filteredAssets"
          (assetClick)="onAssetClick($event)"
          class="asset-cards-container"></asset-cards>
      </div>
    </div>
  </div>
</div>
